# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Execution and archieve files
#*.exe
*.zip
*.rar
*.7z

# Auxiliary Files
*.obj
*.wixobj
*.wixpdb
*.tmp
*.log
*.bak

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
.svn
.vs/
obj/

# ========================
# Certificates Files
# ========================
*.cer
*.crl
*.pfx
*.pvk
*.spc

# Certificate Registry File
certificates-all*.reg

# Certificates Install Files
Certificates-*.exe